<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Twitch.tv Electron</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="./../assets/css/reset.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./../assets/css/style.css">
  </head>
  <body>
    <div id="player">
        <iframe
        src="https://player.twitch.tv/?channel=monstercat"
        frameborder="0"
        allowfullscreen="false"
        scrolling="no"
        height="100%"
        width="100%"></iframe>
    </div>
    <!-- <div id="window-tools">
        <div class="w3-row w3-margin">
          <i class="fa fa-arrows-alt w3-xxxlarge" style="-webkit-app-region: drag"></i>
          <i class="fa fa-close w3-xxxlarge"></i>
        </div>
    </div> -->

  </body>
</html>
